body {
    background-color: black;
}

[data-testid="stSidebarNav"], [data-testid="stSidebar"] {
    display: none;
}

.main-content{
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.top-menu{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.top-menu a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: lightblue;
    color: white;
    border-radius: 5px;
}

.top-menu a:hover{
    background-color: bisque;
}




